header {
    background-color: #7e0707;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* Garantir que o header fique acima de outros elementos */
    padding: 10px 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 1500px;
    margin: 0 auto;

    height: 150px;
   
}

.logo h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #ffffff;

    cursor: pointer;
}

.btn-newPost button{
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;

    background-color: #d6ca1f;
    border: 0;

    color: rgb(32, 26, 26);

    padding: 10px 20px;
    border-radius: 10px;

    cursor: pointer;
}

.btn-newPost button:hover {
    transition: 0.2s;
    background-color: #538af0;
}
